<form class="flexcol" id="sw-config" style="width: 500px; height: auto">
    <!-- Navigation -->
    <nav id="tab-sw-config" class="tabs" aria-role="Form Tab Navigation">
        <a class="item active" data-tab="basic"><i class="fa-solid fa-globe"></i> Basic</a>
        <a class="item" data-tab="advanced"><i class="fa-solid fa-location-dot"></i> Advanced</a>
    </nav>
    <section class="content">
        <!-- Basic Tab -->
        <div id="sw-config" class="tab" data-tab="basic">
            <!-- <h2 class="border">SmallWeather: Configuration</h2> -->
            <div class="form-group">
                <label>Climate</label>
                <div class="form-fields">
                    <select name="climate" id="climate">
                        <!-- https://en.wikipedia.org/wiki/K%C3%B6ppen_climate_classification -->
                        <option value="tropical">Tropical</option>
                        <option value="arid">Arid</option>
                        <option value="temperate">Temperate</option>
                        <option value="continental">Continental</option>
                        <option value="polar">Polar</option>
                    </select>
                </div>
                <p class="notes">Choose a climate type.</p>
            </div>
            <!-- <div class="form-group">
                <label for="basicstart">Year:</label>
                <input type="range" name="startyear" data-dtype="Number" value={{startyear}} min="1970" max={{maxYear}} step="1">
                <span class="range-value">{{startyear}}</span>
                <p class="notes">Set a starting year.</p>
            </div> -->
        </div>
        <!-- Advanced Tab -->
        <div id="sw-config" class="tab" data-tab="advanced">
            <!-- <h2 class="border">SmallWeather: Configuration</h2> -->
            <div class="form-group">
                <label>Location</label>
                <div class="form-fields">
                    <input type="text" name="location" value={{location}} data-dtype="String">
                </div>
                <p class="notes">Name of the City or Airport to fetch information.</p>
            </div>
            <div class="form-group">
                <label for="start">Start date:</label>
                <input type="date" id="start" name="startdate" value={{startdate}} min="1970-01-01" max={{today}}>
                <p class="notes">Set a start date for the query.</p>
            </div>
            <div class="form-group">
                <label>Length of Query</label>
                <div class="form-fields">
                    <input type="range" name="querylength" data-dtype="Number" value={{querylength}} min="1" max="30"
                        step="1">
                    <span class="range-value">{{querylength}}</span>
                </div>
                <p class="notes">Defines the number of days to fetch from the API.</p>
            </div>

            <!-- Side Tables -->
            <section id="weather-preview-table" class="window-content" style="width: 100%; /* background: url(../ui/parchment.jpg) repeat; */">
                <h1 style="text-align: center;">Weather Forecast</h1>
                <table class="responstable">
                    <thead class="previewtable">
                        <tr>
                            <th width="10%">Select Weather</th>
                            <th>Feels Like</th>
                            <th>Description</th>
                            <th>Wind Speed</th>
                            <th>Wind Direction</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                </table>
            </section>
        </div>
    </section>
    <div class="form-group">
        <label> Hourly or Daily Weather Data</label>
        <label for="hourly" class="toggle-switchy" data-style="square">
            <input {{hourly}} name="hourly" type="checkbox" id="hourly">
            <span class="toggle">
                <span class="switch"></span>
            </span>
        </label>
        <p class="notes">Choose if the API request should fetch hourly or daily values. Query cost for hourly values
            cost 24 times
            more.</p>
    </div>
    <!-- Apply Weather -->
    <button class="form-fields" type="button" id="apply-preview">
        <i class="fa-solid fa-arrows-rotate"></i>
        <label>Preview Weather</label>
    </button>
    <hr id="separator-sw-config">
    <!-- Preview Weather -->
    <!-- Submit -->
    <button type="button" id="sw-config-save">
        <i class="fas fa-save"></i>
        <label>Save Changes</label>
    </button>
</form>