<form class="flexcol" id="weather-app">
    <div id="displayContainer-weatherapp">
        <div id="current-temp">
            <img id="temp-icon" src="/modules/weatherfx/images/clearSky.webp" alt="heavyRain"></img>
            <span id="temp"> ${currentWeather.feelslike}${unit.temp}</span>
        </div>
        <div id="high-low">
            <i class="fas fa-temperature-high" id="fa-icon"></i><span id="temp">
                ${currentWeather.feelslikemax}${unit.temp}</span><br>
            <i class="fas fa-temperature-low" id="fa-icon"></i><span id="temp">
                ${currentWeather.feelslikemin}${unit.temp}</span>
        </div>
        <div id="wind">
            <i class="fas fa-wind" id="fa-icon"></i><span id="temp"> ${currentWeather.windspeedFriendly}</span><br>
            <i class="far fa-compass" id="fa-icon"></i><span id="temp"> ${currentWeather.winddirFriendly}</span>
        </div>
        <div id="configWeather"><i class="fa-solid fa-bars"></i></div>
        <div id="weather-text">${currentWeather.conditions}</div>
    </div>
    <div id="rightHandle"></div>
</form>